# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [109]:
# I will combine the three datasets first and then apply the cleaning function (located in the data_cleaning.py file) to the combined dataset

import pandas as pd
import data_cleaning

# Load the datasets
url_1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url_2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url_3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df_1 = pd.read_csv(url_1)
df_2 = pd.read_csv(url_2)
df_3 = pd.read_csv(url_3)

In [111]:
df_1 = data_cleaning.standardize_column_names(df_1)
df_2 = data_cleaning.standardize_column_names(df_2)
df_3 = data_cleaning.standardize_column_names(df_3)

In [117]:
# Combining the three dataframes:
combined_df = pd.concat([df_1, df_2, df_3], ignore_index=True)
combined_df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [119]:
combined_df.shape

(12074, 11)

In [123]:
# Cleaning the combined dataframe
cleaned_combined_df = data_cleaning.main(combined_df)

In [125]:
cleaned_combined_df.shape

(9135, 11)

In [127]:
cleaned_combined_df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,7714,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [134]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)

In [136]:
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [148]:
df['sales_channel'].unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

In [165]:
# Create a pivot table showing total revenue for each sales channel

pivot_revenue_by_channel = df.pivot_table(
    values = 'customer_lifetime_value', # CLV provides a comprehensive measure of the revenue a customer is expected to generate
    index = 'sales_channel',
    aggfunc = 'sum'
).round(2)

# Rename the column for clarity
pivot_revenue_by_channel.columns = ['total_revenue']

display(pivot_revenue_by_channel)

               total_revenue
sales_channel
Agent            33057887.85
Branch           24359201.21
Call Center      17364288.37
Web              12697632.90

__Insight__: The __Agent__ has the highest total estimated revenue, it might be the most effective channel in terms of long-term customer value. This could suggest focusing more resources on this channel to maximize profitability.

In [170]:
# Create a pivot table showing the average customer lifetime value per gender and education level
pivot_clv_by_gender_education = df.pivot_table(
    values = 'customer_lifetime_value', 
    index = 'gender',
    columns = 'education', 
    aggfunc = 'mean'
).round(2)

# Insights from average CLV by gender and education
print("\nAverage Customer Lifetime Value by Gender and Education:")
display(pivot_clv_by_gender_education)

Average Customer Lifetime Value by Gender and Education:

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [176]:
# Convert the date column to datetime:
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])

In [180]:
# Extract the month from the date and create a new column called "month" 
df['month'] = df['effective_to_date'].dt.month

In [184]:
# Inspec the relevant columns
display(df[['policy_type', 'number_of_open_complaints', 'month']].head())

      policy_type  number_of_open_complaints  month
0  Corporate Auto                   0.000000      2
1   Personal Auto                   0.000000      1
2   Personal Auto                   0.000000      2
3  Corporate Auto                   0.000000      1
4   Personal Auto                   0.384256      1

In [194]:
# Group by policy type and month, then count the number of complaints
complaints_summary = df.groupby(['policy_type', 'month'])['number_of_open_complaints'].sum().reset_index()

# Rename the column to be more descriptive
complaints_summary.rename(columns={'number_of_open_complaints': 'total_complaints'}, inplace=True)

display(complaints_summary)

      policy_type  month  total_complaints
0  Corporate Auto      1        443.434952
1  Corporate Auto      2        385.208135
2   Personal Auto      1       1727.605722
3   Personal Auto      2       1453.684441
4    Special Auto      1         87.074049
5    Special Auto      2         95.226817

In [192]:
# Let's try the same, but with a pivot table:

complains_pivot = df.pivot_table(
    values = 'number_of_open_complaints',
    index = 'policy_type',
    columns = 'month',
    aggfunc = 'sum'
).round(2)

display(complains_pivot)

month                 1        2
policy_type
Corporate Auto   443.43   385.21
Personal Auto   1727.61  1453.68
Special Auto      87.07    95.23